html,body,.wrap,.swiper-container { width: 100%; height: 100%; }
body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin: 0 auto;
    color: #000;
    background: #fff;
}
.wrap { position: relative; }
.swiper-container .swiper-slide { background-repeat:no-repeat; background-position: 51% 44%; background-size: cover; }
/*版心*/
.container_md { width: 1040px; height: 100%; padding: 0 20px; margin: auto; box-sizing: border-box; }
.wrap .header, .wrap .title, .wrap .news { position: absolute; left: 0; z-index: 1; width: 100%;}
.wrap .header .container_md {
    margin-top: 10px;
    position: relative;
}
.wrap .header { top: 0; background-color: red; height: 80px; background-color: rgba(88, 88, 88, .1); box-shadow: 1px 1px 1px -5px}
.wrap .header .logo,.menu {
    position: absolute;
    top: 0;
}
.wrap .header .logo {
    width: 20%;
    padding: 8px 20px;
    box-sizing: border-box;
    left: 0;

}
.wrap .header .menu {
    position: absolute;
    width: 40%;
    right: 0;
    text-align: right;
}
.wrap .header .menu a {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 0 20px;
    color: #ffffff;
}
.wrap .title { top:50%; height: 146px; }
.wrap .title h1 {
    display: block;
    font-size: 500%;
    line-height: 1;
    color: #ffffff;
    font-weight: bold;

    padding-bottom: 20px;
}
.wrap .title a {
    display: inline-block;
}
.wrap .title .btn {
    font-size: 22px;
    font-weight: bold;
    padding: 14px 26px;
    letter-spacing: .1em;
    border-radius: 6px;
    color: #ffffff;
}
.wrap .btn.btn_hero {
    color: #fff;
    border: none;
    background: rgba(122, 112, 101, .6);
    /*box-shadow: 0 6px 30px 0 rgba(30, 29, 25, .6);*/
}
.btn.btn_hero:hover,
.btn.btn_hero:focus {
    background: rgba(0, 0, 0, .8);
}
.wrap .news { bottom: 0; height: 42px}
.wrap .news a {
    display: block;
    height: 42px;
    font-size: 15px;
    line-height: 42px;
    color: #fff;
}
.wrap .news .headline_icon {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 18px;
    padding: 0 8px;
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.hero_promos { margin-left: -1px; border-top: 1px solid #fff; }
.hero_promos .hero_promo{ float: left; position: relative; width: 25%;}
.hero_promos .hero_promo a { display: block; width: 100%; height: 240px; background-repeat: no-repeat; background-size: cover; box-sizing: border-box; border-left: 1px solid #fff; }
.hero_promo h3 { position: absolute; display: block; width: 100%; text-align: center; font-size: 24px; color: #fdfdfe; left: 0; top: 44px; }

.meta_links .meta_link {
    float: left;
    width: 33.3333%;
    padding: 45px 0;
}

.meta_links .meta_link .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}
.meta_links .meta_link .text {
    display: inline-block;
    vertical-align: 11px;
    text-align: left;
}

.meta_links .meta_link .text h4 { font-weight: 400; font-size: 16px; line-height: 22px }
.meta_links .meta_link .text p { font-weight: 300; font-size: 16px; }

.footer_wrap, .footer_miscs {
    width: 100%;

}
.footer_wrap {
    box-sizing: border-box;
    border-top: 1px solid #888888;
    border-bottom: 1px solid #888888;
}
.footer_wrap .left,.right {
    float: left;
    padding: 45px 0;
}
.footer_wrap .left {
    margin-right: 40px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    padding: 45px 0;

}

@font-face {
    font-family: 'Overpass';
    font-weight: 900;
    font-style: normal;
    src: local('Overpass Black'), local('Overpass-Black'), url('../fonts/logo.woff2') format('woff2'), url('../fonts/logo.woff') format('woff');
}
.footer_wrap .font-logo {
    font-family: Overpass, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
    font-weight: normal;
}
.footer_wrap .font-logo {
    display: block;
    width: 160px;
    height: 61px;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer_wrap .left li:first-child a{
    display: block;
    width: 160px;
    height: 36px;

}
.footer_wrap .left li {
    line-height: 2.3;
}
.footer_wrap .left li:nth-child(3) a,.footer_wrap .left li:nth-child(2) {
    color: #000;
}

.footer_wrap .right .main_list>li {
    float: left;
    height: 155px;
    font-size: 15px;
    font-weight: 300;
}
.footer_wrap .right .main_list>li h3 {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer_wrap .main_list>li li a {
    color: #000;
    line-height: 2;
}
.footer_wrap .main_list .life, .about, .social {
    margin-left: 128px;
}

.footer_miscs .copy  {
    float: left;
    color: #aaa;
    line-height: 22px;
}
.footer_miscs .sincerity {
    float: right;
}
.footer_miscs .copy .beian_icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: -3px;
    background-repeat: no-repeat;
    background-size: contain;
}
/* IPAD 没有版心 全屏 1080 */
@media screen and (max-width: 1080px) {
    .container_md{width: 100%;box-sizing: border-box}
    .hero_promos .hero_promo{width: 50%;}
    .wrap .header .menu {display: none}
}
/* phone  640*/
@media screen and (max-width: 640px) {
    .hero_promos .hero_promo{width: 100%;}

    .meta_links div.meta_link {width: 100%;text-align: left !important;}
    .wrap .title h1 {
        font-size: 300%;
    }

    .footer .footer_wrap .left {
        width: 100%;
    }
    .footer .footer_wrap .right {
        float: left;
    }
    .footer .footer_wrap .right .main_list li {
        /*width: 50%;*/
        margin-left: 0;
        width: 150px;
    }


}




